In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("Online_Retail.xlsx")

In [2]:
print("Missing values per column")
print(df.isnull().sum())

Missing values per column
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
# Now filling all null values in discription & customer id  column

df['Description'] = df['Description'].fillna('Description not available')

df['CustomerID'] = df['CustomerID'].fillna('Unknown')

In [ ]:
# Verify the changes
print(df.isnull().sum())

Missing values per column
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [8]:
# Duplicates check

num_duplicate = df.duplicated().sum()
print("Number of duplicates", num_duplicate)

#Duplicates display

duplicates = df[df.duplicated()]
print("Duplicated rows:\n", duplicates)

Number of duplicates 5268
Duplicated rows:
        InvoiceNo StockCode                        Description  Quantity  \
517       536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527       536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537       536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539       536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555       536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...          ...       ...                                ...       ...
541675    581538     22068        BLACK PIRATE TREASURE CHEST         1
541689    581538     23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692    581538     22992             REVOLVER WOODEN RULER          1
541699    581538     22694                       WICKER STAR          1
541701    581538     23343       JUMBO BAG VINTAGE CHRISTMAS          1

               InvoiceDate  UnitPrice CustomerID         Country
517    2010-12-01 11:45:00       1.25    17908.0  United Kingdom
527    2010-12-01 11:45:00       2.10    17908.0  United Kingdom
537    2010-12-01 11:45:00       2.95    17908.0  United Kingdom
539    2010-12-01 11:45:00       4.95    17908.0  United Kingdom
555    2010-12-01 11:49:00       2.95    17920.0  United Kingdom
...                    ...        ...        ...             ...
541675 2011-12-09 11:34:00       0.39    14446.0  United Kingdom
541689 2011-12-09 11:34:00       2.49    14446.0  United Kingdom
541692 2011-12-09 11:34:00       1.95    14446.0  United Kingdom
541699 2011-12-09 11:34:00       2.10    14446.0  United Kingdom
541701 2011-12-09 11:34:00       2.08    14446.0  United Kingdom

[5268 rows x 8 columns]

In [10]:
#Remove duplicates

df = df.drop_duplicates()

print("Duplicates removed. Data shape:", df.shape)

Duplicates removed. Data shape: (536641, 8)

In [12]:
#Verify
num_duplicate = df.duplicated().sum()
print("Number of duplicated rows", num_duplicate)

Number of duplicated rows 0

In [29]:
#Convert date and time , customer id, invoice no., stock code to string

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['CustomerID'] = df['CustomerID'].astype(str)

cols_to_str = ['InvoiceNo', 'StockCode']
df[cols_to_str] = df[cols_to_str].astype(str)

In [31]:
# Remove rows with zero unit price and quantity

df = df[df['UnitPrice'] > 0]
df = df[df['Quantity'] > 0]

In [32]:
#verify
count_invalid_price = len(df[df['UnitPrice'] <= 0])
print("Number of rows with UnitPrice <= 0:", count_invalid_price)

count_invalid_price = len(df[df['Quantity'] <= 0])
print("Number of rows with Quantity <= 0:", count_invalid_price)

Number of rows with UnitPrice <= 0: 0
Number of rows with Quantity <= 0: 0

In [33]:
# Drop column stockPrice since it is not necessary for the analysis

df = df.drop(columns=['StockCode'])

#verify
print(df.columns)

Index(['InvoiceNo', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice',
       'CustomerID', 'Country'],
      dtype='object')

In [34]:
# Downloading cleaned excel sheet for further analysis

df.to_excel('Cleaned_Online_Retail.xlsx', index=False)